scikit-learn  
transformers
torch 
accelerate 
sentencepiece 
langchain-huggingface 
pandas 
numpy
jupyterlab
protobuf
matplotlib
seaborn
torch
langchain-openai
langchain-community
fuzzywuzzy
python-Levenshtein
unidecode
ollama 
duckduckgo-search
thefuzz
ace-tools
python-dateutil
requests
praw
matplotlib-venn